body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

select,
button,
input {
  height: 20px;
}

.panel-header {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h1 {
  margin: 0;
}

h2,
ul {
  margin: 0;
}

/* Base Styles for Buttons */
button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 30px;
}

button:hover {
  background-color: #0056b3;
  outline: none;
  z-index: 100;
}

.canvas-container {
  display: flex;
}

.app-name {
  font-weight: 800;
}

/* TOOLBAR  */
.toolbar_actions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;

  max-width: 300px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 0.5rem;

  background: #adadad;
  box-shadow: inset 50px 50px 17px #939393, inset -50px -50px 17px #c7c7c7;
}

.shape-selector_container,
.export_controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#export-btn {
  background-color: #28a745;
}

#export-btn:hover {
  background-color: #218838;
}

/* Base Styles for Select Inputs */
select {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  height: 30px;
}

select:hover {
  border-color: #bbb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  outline: none;
}

/* Base Styles for Text Inputs */
.text-input {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.text-input:hover,
.text-input:focus {
  border-color: #bbb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  outline: none;
}

/* General Styles for Side Panels */
.side-panels-container {
  display: flex;
  gap: 20px; /* Ensures space between panels */
  padding: 10px; /* Adds some padding around the panels */
  background-color: #fafafa; /* Light background for the container */
  border-radius: 8px; /* Adds rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds subtle shadow for depth */
}

aside {
  width: 220px;
}

/* Layers Panel */
#layers-panel {
  margin: 0;
  background-color: #ffffff; /* White background for a clean look */
  border: 1px solid #eaeaea; /* Subtle border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); /* Soft shadow */

  transition: width 0.5s ease-in;
  min-width: 0; /* Allows the panel to fully collapse */
}

#layers-panel.collapsed,
#notes-panel.collapsed {
  width: 0px; /* Collapse the panel */
}

#layers-panel.collapsed > .panel-header h2,
#notes-panel.collapsed > .panel-header h2,
#layers-panel.collapsed > .panel-header #color-selector {
  display: none;
}

#layers-panel .panel-header {
  min-height: 40px;
  padding: 5px; /* More padding for header */
  border-bottom: 1px solid #eaeaea; /* Adds a line to separate the header */
  background-color: #f8f8f8; /* Slightly different color for the header */
}

#layers-panel h2 {
  margin: 0; /* Removes default margin */
  font-size: 16px; /* Larger font size for the title */
  font-weight: 600; /* Makes font weight bolder */
  color: #333; /* Darker color for better contrast */
}

#toggle-layers-btn,
#toggle-notes-btn,
#close-image-placement-modal-btn {
  border: 1px solid #ddd;
  background-color: #eee; /* Soft background color */
  padding: 5px 8px; /* Padding for a smaller, cute look */
  font-size: 12px; /* Smaller font size */
  cursor: pointer; /* Cursor pointer to indicate it's clickable */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for interaction */
  color: #000;
}

#toggle-notes-btn {
  margin-bottom: 5px;
}

#toggle-layers-btn:hover,
#toggle-notes-btn:hover,
#close-image-placement-modal-btn:hover {
  transform: scale(
    1.1
  ); /* Slightly enlarge the button on hover for a cute effect */
}

#drawing-enabled-indicator {
  display: none; /* No change here, but consider adding margin if shown */
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* color selector */
#color-selector {
  display: none;
  width: 100px;
}

#layers-list {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Removes default margin */
  max-height: 300px;
  overflow-y: auto; /* Enables scrolling for long lists */
}

#layers-list li {
  cursor: pointer;
  padding: 8px 15px; /* More padding for better touch target */
  margin: 0.5rem 0;
  transition: background-color 0.2s; /* Smooth transition for hover effect */
}

#layers-list li:hover,
#layers-list li.active {
  background-color: #007bff; /* Bright color for hover and active state */
  color: white;
  border-radius: 5px; /* Rounded corners for list items */
}

/* Notes Panel */
#notes-panel {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  padding: 10px; /* Padding inside the notes panel */

  transition: width 0.5s ease-in;
  min-width: 0; /* Allows the panel to fully collapse */
}

#notes-panel .panel-header {
  margin-bottom: 10px; /* Adds some space below the header */
}

#notes-panel h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

#notes-input {
  width: calc(100% - 10px); /* Adjusts width to account for padding */
  padding: 8px; /* Pads the inside of the textarea */
  border-radius: 5px; /* Rounds the corners */
  border: 1px solid #ddd; /* Subtle border */
  resize: vertical; /* Allows vertical resizing only */
  font-family: Arial, sans-serif; /* Ensures consistent font usage */
}

#notes-panel.collapsed #notes-input {
  overflow: hidden;
}

/* Impport */
#add-image-btn {
  width: 200px;
  background-color: #804fb0;
}

#add-image-btn:hover {
  background-color: #59377b;
}

/* Modal background and layout */
#image-placement-modal {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;

  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px; /* Adjust based on your preference */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure it's above other content */

  /* Initially hidden */
  display: none;
}

#image-placement-modal > div {
  width: 100%;
}

/* Modal content styling */

/* File input style */
#image-selector {
  display: block;
  padding: 10px;
  padding-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* Adjustments for file input to make it more cohesive with the design */
#image-selector::file-selector-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
}

#image-selector:hover::file-selector-button {
  background-color: #e0e0e0;
}

.modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: 16px;
}

.side-selector-buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.side-selector-buttons-container {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.side-selector-buttons-container button {
  width: 80px;
}

/* UNDO/REDO */
#undo-btn {
  background-color: #dd3131;
}

#undo-btn:hover {
  background-color: #7a0000;
}

/* Reset */

#reset-btn {
  background-color: #dd3131;
}

#reset-btn:hover {
  background-color: #7a0000;
}
