body {
  font-family: "Poppins";
  width: 200px;
  padding: 10px;
  display: grid;
  place-items: center;
  gap: 1rem;
}

h1,
p {
  margin: 0;
  text-align: center;
}

.header_subtitle {
  font-size: 16px;
}

.header_icon {
  width: 75px;
}
