body {
  min-height: 100vh;
}

h2 {
  border-bottom: 1px solid black;
}

h2,
ul {
  margin: 0;
}

.canvas-container {
  display: flex;
}

.side-panels-container {
  display: flex;
  border: 1px solid #aaa;
}

/* TOOLBAR  */
.toolbar_actions {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-bottom: 1rem;
}

#drawing-enabled-indicator {
  display: none;
  width: 14px;
}

/* LAYERS PANEL */
#layers-panel {
  margin: 0;
  min-width: 150px;
  background-color: #f5feff;
}

#layers-list {
  list-style-type: none;
  padding: 0;
}

#layers-panel h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#layers-list li {
  cursor: pointer;
  padding: 5px;
}

#layers-list li:hover {
  background-color: #f0f0f0;
}

#layers-list li.active {
  background: black;
  color: white;
}

/* NOTES PANEL */
#notes-panel {
  min-width: 200px;
  background-color: #ccc;
  padding-right: 5px;
}

#notes-input {
  width: 100%;
}
