body {
  min-height: 100vh;
}

select,
button,
input {
  height: 20px;
}

.panel-header {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h2,
ul {
  margin: 0;
}

.canvas-container {
  display: flex;
}

.side-panels-container {
  display: flex;
  border: 1px solid #aaa;
}

/* TOOLBAR  */
.toolbar_actions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.shape-selector_container,
.export_controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* LAYERS PANEL */
#layers-panel {
  margin: 0;
  min-width: 175px;
  background-color: #f5feff;
}

#drawing-enabled-indicator {
  display: none;
  width: 14px;
  height: 14px;
}

#color-selector {
  display: none;
}

#layers-list {
  list-style-type: none;
  padding: 0;
}

#layers-panel h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#layers-list li {
  cursor: pointer;
  padding: 5px;
}

#layers-list li:hover {
  background-color: #f0f0f0;
}

#layers-list li.active {
  background: black;
  color: white;
}

/* NOTES PANEL */
#notes-panel {
  min-width: 200px;
  background-color: #ccc;
  padding-right: 5px;
}

#notes-input {
  width: 100%;
}
