body {
  font-family: "Poppins";
  width: 200px;
  padding: 10px;
  display: grid;
  place-items: center;
  gap: 1rem;
  background: linear-gradient(to bottom, #f0f0f0, #d1d1d1);
}

h1,
p {
  margin: 0;
  text-align: center;
}

.header_title {
  font-size: 30px;
  background: linear-gradient(45deg, #0077ff, #00bfff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: default;
  font-weight: 600;
}

.header_subtitle {
  font-size: 16px;
}

.header_icon {
  width: 75px;
}
